body{
    background: rgb(0, 0, 0);
    font-family: "Nunito", sans-serif;
    height: 100%;
    color: white;
}
.ctnboxtext{
    height: 100%;
    width: 100%;
    margin-top: 18em;
}
.ctnbox{
    margin: auto;
    text-align: center;
    
}
